{% extends "base.html" %}
{% block title %}
<meta charset="UTF-8">
<title>Авторизация</title>
{% endblock %}
{% block content %}

{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class='flash {{cat}}'>{{msg}}</div>
{%endfor%}

<div class="container">
    <h2 class="container__label"> Авторизация </h2>
    <form class="container__form" action="/login" method="POST">
        <input class="container__form_input" type="email" name="email" id="email" placeholder="Email..." requied><br>
        <input class="container__form_input" type="password" name="password" id="password" placeholder="Password..." requied><br>
        <input class="container__form_btn button_main" type="submit" value="Войти"><br>
        <a  class="container__form_btn button_main button_main-reg" href="{{url_for('register')}}">Регистрация</a>
    </form>
</div>
{% endblock %}