{% extends "base.html" %}
{% block title %}
<meta charset="UTF-8">
<title>Авторизация</title>
{% endblock %}
{% block content %}

{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class='flash {{cat}}'>{{msg}}</div>
{%endfor%}

<div class="container">
    <h2 class="container__label">Регистрация</h2>
    <form class="container__form" action="/register" method="POST">
        <input class="container__form_input" type="text" autocomplete="off" name="name" id="name" placeholder="Username..." requied/><br>
        <input class="container__form_input" type="email" autocomplete="off" name="email" id="email" placeholder="Email..." requied/><br>
        <input class="container__form_input" type="password" autocomplete="off" name="password" id="password" placeholder="Password..." requied/><br>
        <input class="container__form_input" type="password" autocomplete="off" name="password2" id="password2" placeholder="Repeat password..." requied/><br>
        <input class="container__form_btn button_main" type="submit" value="Регистрация"><br>
        <a  class="container__form_btn button_main button_main-reg" href="{{url_for('login')}}">Войти</a>
    </form>
</div>
{% endblock %}